/PractisePr/nbproject/private/
/PractisePr/build/
/PractisePr/dist/
/UseScanner/nbproject/private/
/UseScanner/build/
/ConvertMinutes/nbproject/private/
/ConvertMinutes/build/
/AreaCalculate/nbproject/private/
/AreaCalculate/build/
/DisplayCurrentTime/nbproject/private/
/DisplayCurrentTime/build/
/EscapeSequenceHome/nbproject/private/
/EscapeSequenceHome/build/
/StringHome/nbproject/private/
/StringHome/build/
/ArrayHome/nbproject/private/
/ArrayHome/build/
/ConstantHome/nbproject/private/
/ConstantHome/build/
/OperatorHome/nbproject/private/
/OperatorHome/build/
