/PractisePr/nbproject/private/
/PractisePr/build/
/PractisePr/dist/
/UseScanner/nbproject/private/
/UseScanner/build/
/ConvertMinutes/nbproject/private/
/ConvertMinutes/build/
/AreaCalculate/nbproject/private/
/AreaCalculate/build/
/DisplayCurrentTime/nbproject/private/
/DisplayCurrentTime/build/
/CalculateInterest/nbproject/private/
/CalculateInterest/build/
/CalculateInterest/dist/
/JhanKar/nbproject/private/
/RadiusCalculationUsingPrompt/nbproject/private/
/RadiusCalculationUsingPrompt/build/
/AreaCalculateUsingScanner/nbproject/private/
/LeapYear/nbproject/private/
/LeapYear/build/
/LeapYear/dist/
/EvenOrOdd/nbproject/private/
/EvenOrOdd/build/
/PositiveNegativeZero/nbproject/private/
/PositiveNegativeZero/build/
/GratestOfTwoNumbers/nbproject/private/
/GratestOfTwoNumbers/build/
/VowelOrConsonant/nbproject/private/
/VowelOrConsonant/build/
/GradeCalculate/nbproject/private/
/GradeCalculate/build/
/CalculatorUsingSwitch/nbproject/private/
/CalculatorUsingSwitch/build/
/VowelConsonantUsingSwitch/nbproject/private/
/GuessTheNumber/nbproject/private/
/GuessTheNumber/build/
/VowelConsonantUsingSwitch/build/
